[Unit]
Description=Airfoil main node
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=airfoil
WorkingDirectory=/home/ubuntu/acc-airfoil
ExecStart=flower -A app.celery --port=5555

[Install]
WantedBy=multi-user.target
